.container {
    width: 85%;
}

html body {
  padding-top: 15%;
  padding-bottom: 10%;    
  background-color: #fdfdfd; 
}

.card-img-top {
    width: 100%;
}

.card {
    margin-bottom: 40px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > a {
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%; 
    width: 100%;
}

a {
	color: #00897B;
}

.projects-header {
    padding-top: 60px;
}

.links > a {
	color: #263238;
	text-decoration: none;
}

.links > a:hover {
	color: #455A64;
}

.intro-header {
	font-size: 400%;
	padding-bottom: 15px;
}

.intro-body {
	font-size: 150%;
	font-weight: 200;
}

.myname {
	color: #00897B;
}

.fa {
	padding-top: 10px;
	padding-right: 15px;
}

#biography {
	position: absolute;
    padding-right: 10%;
}

.hidden {
	display: none
}

#occupation {
	margin-top: 80px;
	position: relative;
}

@media only screen and (max-width: 500px) {
    #occupation {
        padding-top: 90px;
		position: relative;
    }
}
