a {
    color: #00897B;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #455A64;
}

.flex-container {
    display: flex;
}

.info-container {
    padding: 20px 0;
    width: 50%;
}

.profile-image-container {
    width: 50%;
}