html body {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #fdfdfd;
}

.info {
	color: black;
	text-decoration: none;
}

.fa {
	padding-top: 25px;
	padding-right: 15px;
	animation-name: fade-in;
	animation-duration: 2s;
}

@keyframes fade-in {
    from {color: transparent;}
    to {color: none;}
}
