html body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #fdfdfd;
}

.about > p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    padding-left: 200px;
    padding-top: 20px;

}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    background-color: transparent;
    color: #999999;
}

